@import './_resate.scss';
@import './_var.scss';

@function weight($weight-name) {
    @return map-get($font-weights , $weight-name );
};

@mixin FlexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
};
@mixin theme($light-theme: true) {
    @if $light-theme {
        background-color: lighten($primary-color, 100%);
        color: darken($text-color, 100%);
    }
};
@mixin mobile {
    @media (max-width: $mobile-size){
    @content
  }
    
}


 body{
     background-color: $primary-color;
     color: $text-color;

 }
.main{
    @include FlexCenter(row);
    width: 80%;
    margin: 0 auto;

    #{&}-p{
        // font-weight: weight(regular);
        // font-weight: weight(bold);
        font-weight: weight(medium);
    }
    &:hover{
        color:$accent-color
    }

    @include mobile {
        flex-direction: column;
    }
}


.light{
    @include theme($light-theme: true);
}
